﻿@model SAGERPNEW2018.Models.ReportModel
@using AdmissionSystemModel.AdmissionModel

@{
    ViewBag.Title = "Challan Generate";
}



<header class="page-header">
    <h2>  @ViewBag.Title</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>System Reports</span></li>
            <li><span>  @ViewBag.Title</span></li>
        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
    </div>
</header>
@using (@Html.BeginForm("ChallanPrint", "GLReports", FormMethod.Post, new { @id = "myform" }))
{

    <div class="panel">
        <!-- start: page -->
        <div class="row">
            <div class="col-md-12">


                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="fa fa-caret-down"></a>
                            <a href="#" class="fa fa-times"></a>
                        </div>

                        <h2 class="panel-title">@ViewBag.Title</h2>
                        <p class="panel-subtitle">
                            Form control for @ViewBag.Title data .
                        </p>
                    </header>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-3 " style="padding-right: 0px;font-size: 12px;">
                                <label> Session:</label>&nbsp;<span style="color:red;" class="error-span" id="TitleIDError"></span>
                                @Html.DropDownListFor(model => model.SessionID, new AdmissionInformation().getAllSessionValue(), new { @class = "form-control  selectpicker " })

                            </div>

                            <div class="col-sm-3" style="padding-right: 0px;font-size: 12px;">
                                <label>Part :</label>&nbsp;<span style="color:red;" class="error-span" id="TitleIDError"></span>
                                @Html.DropDownListFor(model => model.PartID, new AdmissionInformation().getPartValue(), new { @class = "form-control selectpicker " })
                            </div>

                            <div class="col-sm-3" style="padding-right: 0px;font-size: 12px;">
                                <label>Student / Roll No. :</label>&nbsp;<span style="color:red;" class="error-span" id="TitleIDError"></span>
                                @Html.DropDownListFor(model => model.AdmissionID, new AdmissionInformation().GetStudentNameList(), new { @class = "form-control selectpicker " })
                            </div>
                            <div class="col-sm-2" style="padding-right: 0px;font-size: 12px;">

                                    <label>Challan Due Date:</label>&nbsp;<span style="color:red;" class="error-span" id="ShortTitleIDError"></span>

                                    <div class='input-group date' id='datetimepicker1'>
                                        @Html.TextBoxFor(model => model.DateFrom, new { @class = "form-control form-control-sm", @readonly = "readonly" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
@*
    <div class="col-sm-2" style="padding-right: 0px;font-size: 12px;">

        <label>Date To:</label>&nbsp;<span style="color:red;" class="error-span" id="ShortTitleIDError"></span>

        <div class='input-group date' id='datetimepicker1'>
            @Html.TextBoxFor(model => model.DateTo, new { @class = "form-control", @readonly = "readonly" })
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>*@
                            <div class="col-sm-2" style="padding-right: 0px;font-size: 12px;">
                                @if (Model.IsPrint)
                                {
                                    <button style="margin-top: 24px;" type="submit" id="Add" class="btn  btn-success"> <span class="glyphicon glyphicon-print"></span>   Print</button>
                                }
                            </div>
                        </div>


                    </div>
                    <footer class="panel-footer">
                        <div class="row">
                            <div class="col-sm-8 ">

                            </div>
                        </div>
                    </footer>
                </section>

            </div>

        </div>

    </div>


}


<style>
    tr.group,
    tr.group:hover {
        background-color: #ddd !important;
    }
</style>



<script>



        //function viewpdf() {
        //    var id = "" + $('#GLAccountID').val() + "|" + $('#DimensionValueID').val() + "|" + $('#DateFrom').val() + "|" + $('#DateTo').val() + "  "
        //    window.open('/GLReports/csReport/?iniName=' + id + '   ', '_blank');

        //}

        $(document).ready(function () {



            $("#DateFrom").datepicker({
                format: "dd-M-yyyy",
                autoclose: true,
                todayBtn: true,
                //startDate: "2018-07-01",

                // minuteStep: 10
            });

            $("#DateFrom").datepicker("setDate", new Date());

            $("#DateTo").datepicker({

                format: "dd-M-yyyy",
                autoclose: true,
                todayBtn: true,
                //startDate: "2018-07-01",

                // minuteStep: 10
            });
            $("#DateTo").datepicker("setDate", new Date());

        });




        $('.selectpicker').selectpicker({
            liveSearch: true,
            size: 10,
            // width: 'auto',
            container: "body"

        });
</script>

