﻿@model SAGERPNEW2018.Models.ReportModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <header class="page-header">
        <h2>General Ledger Report</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Accounts/Reports</span></li>
                <li><span>General Ledger Report</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>


    <div class="panel">
        <!-- start: page -->
        <div class="row">
            <div class="col-md-12">


                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="fa fa-caret-down"></a>
                            <a href="#" class="fa fa-times"></a>
                        </div>

                        <h2 class="panel-title">General Ledger Report</h2>
                        <p class="panel-subtitle">
                            Form control for General Ledger Report data .
                        </p>
                    </header>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-3 " style="padding-right: 0px;font-size: 12px;">
                                <label> GL Account:</label>&nbsp;<span style="color:red;" class="error-span" id="TitleIDError"></span>
                                @Html.DropDownListFor(model => model.GLAccountID, Model.LoadGLAccount(), new { @placeholder = "Enter Type", @class = "form-control  selectpicker ", @onchange = "LOADVoucherNo(this)" })

                            </div>

                            <div class="col-sm-3" style="padding-right: 0px;font-size: 12px;">
                                <label>Dimension Values :</label>&nbsp;<span style="color:red;" class="error-span" id="TitleIDError"></span>
                                @Html.DropDownListFor(model => model.DimensionValueID, Model.LoadDimensionValue(), new { @placeholder = "Enter Type", @class = "form-control selectpicker ", @onchange = "LOADVoucherNo(this)" })
                            </div>

                            <div class="col-sm-2" style="padding-right: 0px;font-size: 12px;">

                                <label>Date From:</label>&nbsp;<span style="color:red;" class="error-span" id="ShortTitleIDError"></span>

                                <div class='input-group date' id='datetimepicker1'>
                                    @Html.TextBoxFor(model => model.DateFrom, new { @class = "form-control form-control-sm", @readonly = "readonly" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-2" style="padding-right: 0px;font-size: 12px;">

                                <label>Date To:</label>&nbsp;<span style="color:red;" class="error-span" id="ShortTitleIDError"></span>

                                <div class='input-group date' id='datetimepicker1'>
                                    @Html.TextBoxFor(model => model.DateTo, new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <table class="table table-striped mb-none table-hover" id="ReportHeadTable">
                            @*<table id="ReportHeadTable" class="table table-hover table-responsive table-striped nowrap" cellspacing="0" cellpadding="1" style="width: 100%;">*@
                                <thead>
                                    <tr @*style="background-color: #337ab7;"*@>
                                        <th>GL Account</th>
                                        <th>Code</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th>Total Dr</th>
                                        <th>Total Cr</th>
                                        <th>Opening Balance</th>

                                    </tr>
                                </thead>

                                <tbody id="BodyTableID"></tbody>


                            </table>

</div>
                    <footer class="panel-footer">
                        <div class="row">
                            <div class="col-sm-8 ">
                                @if (Model.IsNew)
                                {
                                    <button style="margin-top: 24px;" type="button" id="Add" onclick="Searchdata()" class="btn  btn-primary"> <span class="glyphicon glyphicon-blackboard"></span>   View</button>
                                }
                                @if (Model.IsPrint)
                                {
                                    <button style="margin-top: 24px;" type="submit" id="Add" onclick="viewpdf()" class="btn  btn-success"> <span class="glyphicon glyphicon-print"></span>   Print</button>
                                }
                            </div>
                                <div class="col-md-2 form-group">
                                    @Html.TextBoxFor(model => model.TotalDr, new { @readonly = "readonly", @class = "form-control", @placeholder = "Total Debit" })


                                </div>
                                <div class="col-md-2 form-group">

                                    @Html.TextBoxFor(model => model.TotalCr, new { @readonly = "readonly", @class = "form-control", @placeholder = "Total Credit" })


                                </div>
                            
                        </div>
                    </footer>
                </section>

            </div>

        </div>

    </div>





<style>

    tr.group,
tr.group:hover {
    background-color: #ddd !important;
}
</style>



    <script>

        function Searchdata() {

            var DATA = { glName: $("#GLAccountID option:selected").val(), DTName: $("#DimensionTypeID option:selected").val(), DVName: $("#DimensionValueID option:selected").val(), DateFrom: $("#DateFrom").val(), DateTo: $("#DateTo").val() }
            $.ajax({
                async: false,
                type: "GET",
                url: "/GLReports/searchdataVoucher",
                data: DATA,
                dataType: "Json",
                success: function (data) {

                    var response = JSON.parse(data);
                    $('#BodyTableID').html('');
                    if (response != "") {
                        var trHTML = ''
                        var totaldr=0;
                        var totalcr = 0;
                        var g = 0;
                        var GDebit = 0;
                        var GCredit = 0;
                        Groupid = response[0]['GlAccountID']
                        console.log(response)
                        for (var f = 0; f < response.length; f++) {

                            if (response[f]['GlAccountID'] != g) {
                                
                                
                                
                                trHTML += '<tr style="background-color: #e3e5e5;font-weight: bold;" ><td>' + response[f]['GLTitle'] + 
                             '</td> <td>' + +response[f]['GLCode'] + '</td><td>' + '' + '</td> <td>' + '' + '</td><td>' + '' + '</td><td >' + response[f]['GroupTotalDr'] + '</td><td >' + response[f]['GroupTotalCr'] + '</td><td >' + response[f]['openingbalnce'] + '</td> </tr>'
                                trHTML += '<tr> <td>' + response[f]['Title'] + '</td><td>' + response[f]['vNO'] + '</td> <td>' + response[f]['vdate1'] + '</td><td>' + response[f]['dimensionValues'] + '</td><td>' + response[f]['Narration'] +
                                        '</td><td>' + response[f]['dr'] +
                                        '</td><td>' + response[f]['cr'] + '</td> <td>' + response[f]["runingbal"] + '</td> </tr>';

                            }
                            else 
                            {
                                trHTML += '<tr><td>' + response[f]['Title'] + '</td> <td>' + response[f]['vNO'] + '</td><td>' + response[f]['vdate1'] + '</td><td>' + response[f]['dimensionValues'] + '</td><td>' + response[f]['Narration'] +
                                                              '</td><td>' + response[f]['dr'] +
                                                              '</td><td>' + response[f]['cr'] + '</td><td>' + response[f]["runingbal"] + '</td>  </tr>';


                            }


                            totaldr += parseFloat(0 + response[f]['dr']);
                            totalcr += parseFloat(0 + response[f]['cr']);
                            g = response[f]['GlAccountID']


                        }

                        $("#TotalDr").val(totaldr); 
                        $("#TotalCr").val(totalcr);

                        $('#BodyTableID').html(trHTML);
                    }



                },
                error: function () {
                    alert("Unable to get details.");
                }
            });

        }


        function viewpdf() {
            var id = "" + $('#GLAccountID').val() + "|" + $('#DimensionValueID').val() + "|" + $('#DateFrom').val() + "|" + $('#DateTo').val() + "  "
            window.open('/GLReports/csReport/?iniName=' + id + '   ', '_blank');
       
        }

        $(document).ready(function () {



            $("#DateFrom").datepicker({
                format: "dd-M-yyyy",
                autoclose: true,
                todayBtn: true,
                //startDate: "2018-07-01",

                // minuteStep: 10
            });

            $("#DateFrom").datepicker("setDate", new Date());

            $("#DateTo").datepicker({

                format: "dd-M-yyyy",
                autoclose: true,
                todayBtn: true,
                //startDate: "2018-07-01",

                // minuteStep: 10
            });
            $("#DateTo").datepicker("setDate", new Date());

        });




        $('.selectpicker').selectpicker({
            liveSearch: true,
            size: 10,
            // width: 'auto',
            container: "body"

        });
    </script>
