﻿@model SAGERPNEW2018.Models.ReportModel

@{
    ViewBag.Title = "PrintReport";
    Layout = "";
}
<div class="alert alert-success">
    
    <div class="row ">
        <div class="col-lg-12">
            <div class="panel panel-default">

                <div class="panel-heading">
                    General Legder Data
                </div>
                <div class="panel-body" style="overflow-y:auto">
                    <div>

                        <table id="ReportHeadTable" class="table table-hover table-responsive table-striped nowrap" cellspacing="0" cellpadding="1" style="width: 100%;">
                            <thead>
                                <tr @*style="background-color: #337ab7;"*@>
                                    <th>GL Account</th>
                                    <th>Dimension Type</th>
                                    <th>Dimension Value </th>
                                    <th>Narration</th>
                                    <th>Cheque No</th>
                                    <th>Cheque Date</th>
                                    <th>Dr</th>
                                    <th>Cr</th>
                                </tr>
                            </thead>


                            <tbody id="BodyTableID"></tbody>
                            @foreach (System.Data.DataRow item in Model.selectall().Rows)
                            {
                                    <tr>
                                        <td> @item["GLTitle"] </td>
                                        <td> @item["dimensionValues"] </td>
                                        <td> @item["Narration"] </td>
                                        <td> @item["ChequeNo"] </td>
                                        <td> @item["ChequeDate"] </td>
                                        <td> @item["cr"] </td>
                                        <td> @item["dr"] </td>
                                    </tr>
                            }



                        </table>

                    </div>
                    <!-- /.row (nested) -->
                </div>


                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="panel panel-default">
        <div class="row panel-body">
            <div class="col-md-2" style="float:right">
                <label>Total Cr:</label>
                @Html.TextBoxFor(model => model.TotalCr, new { @class = "form-control form-control-sm", @readonly = "readonly" })

            </div>
            <div class="col-md-2 " style="float:right">
                <label>Total Dr:</label>

                @Html.TextBoxFor(model => model.TotalDr, new { @class = "form-control form-control-sm", @readonly = "readonly" })
            </div>
        </div>
    </div>
</div>


