﻿@model SAGERPNEW2018.Models.ReportModel

@{
    ViewBag.Title = "TrailIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<header class="page-header">
    <h2>Trail Balance Report</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Accounts/Reports</span></li>
            <li><span>Trail Balance Report</span></li>
        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
    </div>
</header>


<div class="panel">
    <!-- start: page -->
    <div class="row">
        <div class="col-md-12">


            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title">Trail Balance Report</h2>
                    <p class="panel-subtitle">
                        Form control for Trail Balance Report data .
                    </p>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4 " style="padding-right: 0px;font-size: 12px;">
                            <label> GL Account:</label>&nbsp;<span style="color:red;" class="error-span" id="TitleIDError"></span>
                            @Html.DropDownListFor(model => model.GLAccountID, Model.LoadGLAccount("where isParent=0"), new { @placeholder = "Enter Type", @class = "form-control selectpicker ", @onchange = "LOADVoucherNo(this)" })

                        </div>
                        <div class="col-sm-2" style="padding-right: 0px;font-size: 12px;">

                            <label>Date From:</label>&nbsp;<span style="color:red;" class="error-span" id="ShortTitleIDError"></span>

                            <div class='input-group date' id='datetimepicker1'>
                                @Html.TextBoxFor(model => model.DateFrom, new { @class = "form-control form-control-sm", @readonly = "readonly" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-2" style="padding-right: 0px;font-size: 12px;">

                            <label>Date To:</label>&nbsp;<span style="color:red;" class="error-span" id="ShortTitleIDError"></span>

                            <div class='input-group date' id='datetimepicker1'>
                                @Html.TextBoxFor(model => model.DateTo, new { @class = "form-control", @readonly = "readonly" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <table class="table table-striped mb-none table-hover" id="ReportHeadTable">
                              <thead>
                                <tr @*style="background-color: #337ab7;"*@>
                                    <th>Main Code Account</th>
                                    <th>Main GL Account </th>
                                    <th> Code Account</th>
                                    <th> GL Account </th>
                                    <th>Sub Code Account</th>
                                    <th>Sub GL Account </th>
                                    <th>Debit</th>
                                    <th>Credit</th>
                                </tr>
                            </thead>


                            <tbody id="BodyTableID"></tbody>


                        </table>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-8 ">
                            @if (Model.IsNew)
                            {
                                <button style="margin-top: 24px;" type="button" id="Add" onclick="Searchdata()" class="btn  btn-primary"> <span class="glyphicon glyphicon-blackboard"></span>   View</button>
                            }
                            @if (Model.IsPrint)
                            {
                                <button style="margin-top: 24px;" type="submit" id="Add" onclick="viewpdf()" class="btn  btn-success"> <span class="glyphicon glyphicon-print"></span>   Print</button>
                            }
                        </div>
                        <div class="col-md-2 form-group">
                            @Html.TextBoxFor(model => model.TotalDr, new { @readonly = "readonly", @class = "form-control", @placeholder = "Total Debit" })


                        </div>
                        <div class="col-md-2 form-group">

                            @Html.TextBoxFor(model => model.TotalCr, new { @readonly = "readonly", @class = "form-control", @placeholder = "Total Credit" })


                        </div>

                    </div>
                </footer>
            </section>

        </div>

    </div>

</div>






























<style>
    tr.group,
    tr.group:hover {
        background-color: #ddd !important;
    }
</style>



<script>



        function Searchdata() {

            var DATA = { glName: $("#GLAccountID option:selected").val(), DateFrom: $("#DateFrom").val(), DateTo: $("#DateTo").val() }
            $.ajax({
                async: false,
                type: "GET",
                url: "/GLReports/searchdataVoucherTrail",
                data: DATA,
                dataType: "Json",
                success: function (data) {

                    var response = JSON.parse(data);
                    $('#BodyTableID').html('');
                    if (response != "") {
                        var trHTML = ''
                        var drt=0;
                        var Crt=0;
                        console.log(response)
                        for (var f = 0; f < response.length; f++) {
                            trHTML += '<tr><td>' + response[f]['FirstParentCode'] +
                               '</td><td>' + response[f]['FirstParentTitle'] + '</td><td>' + response[f]['SecondParentCode'] + '</td><td>'
                               + response[f]['SecondParentTitle'] + '</td><td>' + response[f]['thirdParentCode'] + '</td><td>' + response[f]['thirdParentTitle'] + '</td> <td>' + response[f]['dr'] +
                               '</td><td>' + response[f]['cr'] + '</td> </tr>';
                            drt += parseFloat(response[f]['dr']);
                            Crt += parseFloat(response[f]['cr']);

                        }

                        $('#TotalDr').val(drt);
                        $('#TotalCr').val(Crt);

                        $('#BodyTableID').html(trHTML);
                    }



                },
                error: function () {
                    alert("Unable to get details.");
                }
            });

        }


        function viewpdf() {
            var id = "" + $('#GLAccountID').val() + "|" + $('#DimensionValueID').val() + "|" + $('#DateFrom').val() + "|" + $('#DateTo').val() + "  "
            window.open('/GLReports/TrailReport/?iniName=' + id + '   ', '_blank');

        }

        $(document).ready(function () {



            $("#DateFrom").datepicker({
                format: "dd-M-yyyy",
                autoclose: true,
                todayBtn: true,
                //startDate: "2018-07-01",

                // minuteStep: 10
            });

            $("#DateFrom").datepicker("setDate", new Date());

            $("#DateTo").datepicker({

                format: "dd-M-yyyy",
                autoclose: true,
                todayBtn: true,
                //startDate: "2018-07-01",

                // minuteStep: 10
            });
            $("#DateTo").datepicker("setDate", new Date());

        });




        $('.selectpicker').selectpicker({
            liveSearch: true,
            size: 10,
            // width: 'auto',
            container: "body"

        });
</script>

