﻿@model AdmissionSystemModel.AdmissionModel.GLUser

@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (@Html.BeginForm("Save", "GLUser", FormMethod.Post, new { @id = "myform" }))
{
    if (Model.Userid > 0)
    {
        ViewBag.Title = "User Edit";

    }
    else
    {

        ViewBag.Title = "User Create";

    }
    @Html.HiddenFor(m => m.Userid)
    <header class="page-header">
        <h2>GL User</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Setup</span></li>
                <li><span>GL User</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>


    <div class="panel">
        <!-- start: page -->
        <div class="row">
            <div class="col-md-12">


                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="fa fa-caret-down"></a>
                            <a href="#" class="fa fa-times"></a>
                        </div>

                        <h2 class="panel-title">GL User</h2>
                        <p class="panel-subtitle">
                            Form control for input GL User data .
                        </p>
                    </header>
                    <div class="panel-body">
                       
                        <div class="row">
                            <div class="col-md-6">
                                <label>User Name:</label>&nbsp;<span style="color:red;" class="error-span" id="ShortTitleIDError"></span>
                                @Html.TextBoxFor(model => model.UserName, new { @placeholder = "Enter User Name", @class = "form-control" })
                            </div>

                            <div class="col-md-6">
                                <label>User Password:</label>&nbsp;<span style="color:red;" class="error-span" id="ShortTitleIDError"></span>
                                @Html.TextBoxFor(model => model.UserPassword, new { type = "password", @placeholder = "Enter Password", @class = "form-control" })

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Type:</label>&nbsp;<span style="color:red;" class="error-span" id="TitleIDError"></span>
                                @Html.DropDownListFor(model => model.GroupID, Model.loadUsergroup(), new { @placeholder = "Enter Type", @class = "form-control selectpicker " })

                            </div>
                            <div class="col-md-4">
                                <div style="margin-top: 30px;" class="form-check">
                                    @Html.CheckBoxFor(model => model.Active, new { })
                                    <label for="Active">InActive</label>
                                </div>
                            </div>


                        </div>


                    </div>
                    <footer class="panel-footer">
                        <div class="row">
                            <div class="col-sm-9">
                                <button type="button" onclick="postform()" class="btn btn-primary">Save</button>
                                <button type="button" id="cancelll" class="btn btn-default" onclick="window.history.back()">Cancel</button>
                            </div>
                        </div>
                    </footer>
                </section>

            </div>

        </div>

    </div>

}





<script>
    function postform() {

        var ReturnValue = true

        if ($("#GroupID").val() == "0") {
            $('#GroupID').selectpicker('setStyle', 'btn-danger');
            $('#GroupID').selectpicker('refresh');

            ReturnValue = false;
            $("#TypeID").focus();
        }
        if ($("#UserName").val() == "") {
            $('#UserName').css('border-color', 'red');
            $("#UserName").focus();

            ReturnValue = false;

        }

        if ($("#UserPassword").val() == "") {
            $('#UserPassword').css('border-color', 'red');
            $("#UserPassword").focus();

            ReturnValue = false;

        }

        if (ReturnValue) {
            $("#myform").submit();

        }

        var Data = { Name: $('#UserName').val(), ID: $("#Userid").val() }
        $.ajax({
            async: false,
            url: "/GLUser/Duplicate",
            data: Data,
            success: function (data) {

                var c =JSON.parse(data);
                if (c!="") {
                    alert(c)
                    ReturnValue = false;
                }
            },
            error: function () {
                ReturnValue = false;
                alert("Error")
            }
        })


    }
    $(document).ready(function () {
       // $('#Myform :input').select()

        $('.selectpicker').selectpicker('selectAll');

        if ('@Model.IsView' == 'True') {
            $('#myform :input').attr('disabled', true);
            $('#cancelll').attr('disabled', false);

        }

    });


</script>


